.script {
    margin-left: 50px;
    margin-right: 5px;
    margin-bottom: 50px;
}
.Signature {
    height: 135vh;
    width: 100vh;
    margin-left: 75px;
    align-items: center; 
    justify-items: center; 
    display:grid;
    grid-template-columns: 217px 3fr; 
    grid-column-gap: 100px;
    grid-template-rows: 700px;
    align-items: flex-start;
    
}

.SignatureTitle {
    grid-column: 2/2;
    grid-row: 1/2;
    width: 750px;
    margin-right: 0px;
    padding-left: 50px;
    text-align: center;
    color: rgb(89, 135, 255);
}

.w9form-group label {
    font-size: 15px;
    margin-right: 0px;
}

.FormzS {
    width: 200px;
    margin-left: 37%;
    margin-right: 37%;
    
}

.w9component3 {
    align-self: center;
    justify-self: center;
    text-align: left;
    margin-top: 200px;
    /* margin-bottom: 150vh; */
    border: black 2px solid;
    height: 800px;
    width: 850px;
    background-color: #8BD1E4;
}
