.Welcome {
    height: 75vh;
    width: 100vh;
    margin: auto;
    margin-top: 20vh;
    /* margin-left: 75px; */
    /* align-content: center; 
    justify-content: center;  */
    text-align: center;
    font-size: 30px;
    
}

.Wel {
    text-align: center;
    font-size: 20px;
}