.CompanyInfo {
    height: 175%;
    width: 100vh;
    margin-left: 75px;
    align-items: center; 
    justify-items: center; 
    display:grid;
    grid-template-columns: 217px 3fr; 
    grid-column-gap: 100px;
    grid-template-rows: 700px;
    align-items: flex-start;
    
}

.scriptC {
    margin-left: 50px;
}

.FormzC {
    /* width: 200px; */
    margin-left: 50px;
    text-align: left; 
    /* margin-right: 37%; */
    
}

.CompanyInfoTitle {
    grid-column: 2/2;
    grid-row: 1/2;
    width: 750px;
    /* margin-top: 100px; */
    margin-right: 0px;
    padding-left: 50px;
    text-align: center;
    /* align-self: center; */
    /* justify-self: center; */
    color: rgb(89, 135, 255);
}

.w9form-group {
    display: grid;
    /* width: 300px; */
    grid-gap: 20p;
}

.w9form-group select{
    /* width: 300px; */
    max-width: 125px;

}
.w9form-group textarea{
    /* width: 300px; */
    height: 50px;
    width: 225px;
}

.w9component1 {
    align-self: center;
    justify-self: center;
    margin-top: 500px;
    /* margin-bottom: 700px; */
    /* margin-bottom: 50vh; */
    border: black 2px solid;
    height: 1100px;
    width: 850px;
    background-color: #8BD1E4;
}
