.Connection {
    height: 100vh;
    width: 100vh;
    margin-left: 75px;
    align-items: center; 
    justify-items: center; 
    display:grid;
    grid-template-columns: 217px 3fr; 
    grid-column-gap: 200px;
    grid-template-rows: 700px;
    align-items: flex-start;
    background-color: #B4F5F0;
    
}

.nav1 {
    text-decoration: none;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    /* margin-left: 400x; */
    /* float: left; */
}
.nav2 {
    text-decoration: none;
    text-align: left;
    margin-left: 100x;
}
.nav3 {
    text-decoration: none;
    text-align: left;
    margin-left: 100x;
}

.navbar {
    grid-column: 1/2;
    margin-top: 30px;
    margin-left: 30px;
    height: 100px;
    /* padding-left: 100x; */
    text-align: left;
    vertical-align: top;
    /* margin-bottom: 400px; */
    align-content: inherit;
}

.Setup {
    grid-column: 1/1;
    margin-top: 50px;
    height: 100px;
    text-align: center;
}

.ConnectionTitle {
    grid-column: 2/2;
    grid-row: 1/2;
    width: 750px;
    margin-top: 100px;
    /* padding-left: 50px; */
    text-align: center;
    color: rgb(89, 135, 255);
}

.Formz {
    width: 200px;
    margin-left: 37%;
    margin-right: 37%;
    
}

label {
    margin-top: 20px;
    margin-right: 200px;
    font-size: 18px;
}

input[type=text] {
    margin-right: 200px;
    width: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
    align-items: start;
    justify-items: start;
  }
input[type=select] {
    margin-right: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
    align-items: start;
    justify-items: start;
  }

input[type=password] {
    margin-right: 200px;
    width: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
  }

.form-group {
    display: grid;
    margin-bottom: 10px;
    /* grid-gap: 20px; */
}

/* .form-control{
    max-width: 155px;
  } */

#system {
    max-width: 125px;
  }
#company {
    max-width: 125px;
  }
#system {
    max-width: 125px;
  }

.Link {
    /* width: 197.067px; */
	background-color:#378ee5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3281d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.buttonL {
    text-align: center;
    margin-top: 50px; 
    grid-column: 2/3;
    grid-row: 3/4;
}

.menubar {
    align-self: center;
    justify-self: left;
    border: black 2px solid;
    height: 330px;
    width: 217px;
    background-color: #8BD1E4;
}
.component {
    align-self: center;
    justify-self: center;
    /* text-align: center; */
    border: black 2px solid;
    height: 500px;
    background-color: #8BD1E4;
}

.hr {
    margin: 10px 50px 10px 50px;
}

.Connection button {
	/* -moz-box-shadow: 0px 4px 0px 1px #dbd0db;
	-webkit-box-shadow: 0px 4px 0px 1px #dbd0db;
	box-shadow: 0px 4px 0px 1px #dbd0db; */
	background-color:#378ee5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3281d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.Link button:hover {
	background-color:#167de3;
}
.Link button:active {
	position:relative;
	top:1px;
}