<div>
    <div class="caption bold title">
        <strong>Part II</strong> Certification
    </div>
    <div class="row">

        <p>Under penalties of perjury, I certify that:</p>
        <div><span class="bold">1.</span> The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me), and</div>
        <div><span class="bold">2.</span> I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding, and</div>
        <div><span class="bold">3.</span> I am a U.S. citizen or other U.S. person (defined below).</div>
        <div><strong>Certification instructions. </strong>You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. <a href="#Part_II_Certification">See the instructions below</a>.</div>
        <h3>Sign Here<img width="90%" id="signature" name="signature" class="placeholder-signing-line" src="/assets/sign-line-editor-graphic-2fb6d67c8a5a7d0acc07baf78cc08807.png" height="194"></h3>
    
    </div>

</div>