<div>
    <div class="caption bold title">
        <strong>Part I</strong> Taxpayer Identification Number (TIN)
    </div>
    <div class="mid-row" style="margin-top:4px">
        <div>
        <p>Enter your TIN in the appropriate box. The TIN provided must match the name given on the “Name” line to avoid backup withholding. For individuals, this is your social security number (SSN). However, for a resident alien, sole proprietor, or disregarded entity, see the Part I instructions on page 3. For other entities, it is your employer identification number (EIN). If you do not have a number, see How to get a TIN on page 3.</p>
        <p><strong>Note.</strong> If the account is in more than one name, see the chart on page 4 for guidelines on whose number to enter.</p>

        </div>    
        <div class="border-left" style="padding-left:8px">
            <div class="row">
            <label><span class="bold">Social security number:</span></label>
            <input type="password" name="ssn" id="ssn" type="ssn">
            </div>
            <div class="row">
            <label><span class="bold">Employer identification number:</span></label>
            <input type="password" id="ein" name="ein" type="ein">
            </div>
        </div>
    </div>
    
</div>
