<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/jquery/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $('body').load('w9.html');
        });
    </script>
    <style>
        body {
            font-family:sans-serif;
            font-weight:lighter;
            font-size:16px;
        }
        .caption {font-size:22px;}
        .small {font-size:12px; font-weight:gray}
        .bold {font-weight:bold}
        iframe {width:90%; height:90%}
        .border {border:1px solid #CAD5E0;}
        .border-left{border-left:1px solid #CAD5E0;}
    </style>
</head>


<body>
</body>
</html>>