.Dashboard {
    height: 100vh;
    width: 100vw;
    /* margin-left: 75px; */
    align-items: center; 
    justify-items: center; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /* grid-column-gap: 200px; */
    grid-template-rows: 1fr 1fr 3fr;
    align-items: flex-start;
}

.DashboardTitle {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    grid-column: 2/4;
    grid-row: 1/1;
    color: rgb(89, 135, 255);
}

.pending {
    font-size: 18px;
}
.pebutton {
    text-align: center;
    align-self: center; 
    justify-self: right; 
    grid-column: 2/3;
    grid-row: 2/2;
    margin-right: 10px;
}
.recieved {
    font-size: 18px;
}
.rebutton {
    text-align: center;
    align-self: center; 
    justify-self: left; 
    grid-column: 3/4;
    grid-row: 2/2;
    margin-left: 10px;
}
.logout {
    /* margin-top: 80px; */
    font-size: 18px;
    text-decoration: none;
}
.cLog {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    grid-column: 4/4;
    grid-row: 1/1;
}
.ven {
margin: 50px 100px 50px 100px;
font-size: 18px;
width: 150px;
}
.vebutton {
text-align: center;
align-self: center; 
justify-self: center; 
grid-column: 4/4;
grid-row: 2/2;
}

.pendingModalCon {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pendingModal {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.recievedModalCon {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.recievedModal {
    text-align: left;
    align-self: center; 
    justify-self: center; 
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: repeat(3, 1fr);

}

.CompanyName {
    display: grid;
}

.DateSent {
    display: grid;
}

.Email {
    display: grid;
}

.Status {
    display: grid;
}

.Resend {
    display: grid;
}

.Dashboard Button {
	/* -moz-box-shadow: 0px 2.5px 0px 1px #dbd0db;
	-webkit-box-shadow: 0px 2.5px 0px 1px #dbd0db;
	box-shadow: 0px 2.5px 0px 1px #dbd0db; */
	background-color:#378ee5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3281d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.Dashboard Button:hover {
	background-color:#167de3;
}
.Dashboard Button:active {
	position:relative;
	top:1px;
}