.Dashboard {
    height: 100vh;
    width: 100%;
    /* margin-left: 75px; */
    align-items: center; 
    justify-items: center; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /* grid-column-gap: 200px; */
    grid-template-rows: 1fr .5fr 3fr;
    align-items: flex-start;
}

.DashboardTitle {
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/1;
    color: rgb(89, 135, 255);
}

.pending {
    font-size: 18px;
}
.pebutton {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    grid-column: 2/3;
    grid-row: 2/2;
}
.recieved {
    font-size: 18px;
}
.rebutton {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    grid-column: 3/4;
    grid-row: 2/2;
}
.logout {
    /* margin-top: 80px; */
    font-size: 18px;
    text-decoration: none;
}
.cLog {
    text-align: center;
    align-self: center; 
    justify-self: center; 
    grid-column: 4/4;
    grid-row: 1/1;
}
.ven {
margin: 50px 100px 50px 100px;
font-size: 18px;
}
.vebutton {
text-align: center;
align-self: center; 
justify-self: center; 
grid-column: 4/4;
grid-row: 2/2;
}
.DropOpCon {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/3;
}
.DropOp {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 30%;
    width: 90%;
    /* grid-template-rows: 1fr 1fr 1fr;  */
}

.pendingModalCon {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    grid-column: 1/1;
    margin-left: 450px;
    margin-bottom: 40px;
    /* width: 30%; */
}
.recievedModalCon {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    grid-column: 2/2;
    margin-left: 580px;
    /* width: 30%; */
    /* grid-row: 1/1; */
}
.pendingModalCon {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
}
.recievedModalCon {
    text-align: center;
    align-items: center; 
    justify-items: center; 
}
.CompanyName {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1/1;
}
.DateRecieved {
    text-align: center;
    align-items: center; 
    justify-items: center; 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2/2;
}

.Dashboard h5 {
    text-decoration: underline black;
}

.Test {
    background-color: red;
}

